.tab-container {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 60px;
  padding: 0 350px;

  background: #fff;
  .tab-item {
    cursor: pointer;
    margin-right: 40px;
    &.active {
      color: #138a64;
    }
    &:hover {
      color: #138a64;
    }
  }
}
